.login_panel {
    position: absolute;
    top: 0;
    right: 0;
    

}

.login_panel p{
    float: left;
    margin-right: 10px;
}
.main {
    text-align: center;
    
}
.main ul{
    list-style: none;
    
}
.main li{
    margin-top: 50px;
    
}